/* Reset and Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

/* Header & Navbar */
header nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border: 1px solid white;
    border-radius: 30px;
    box-shadow:
        rgb(0, 0, 0) 3px 3px 6px 0px inset,
        rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset;
    background-color: white;
}

/* Logo */
.navbar-logo {
    width: 8%;
    display: flex;
    background-color: white;
    border-radius: 30px;
}

.navbar-logo a {
    display: flex;
    width: 100%;
    border-radius: 30px;
}

.navbar-logo a img {
    width: 100%;
    border-radius: 30px;
}

/* Menu */
.navbar-menu {
    width: 46%;
    border-radius: 30px;
}

.navbar-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.navbar-menu ul li a {
    display: block;
    padding: 10px 50px;
    color: black;
    font-size: 20px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.navbar-menu ul li a:hover {
    color: red;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(255, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(255, 0, 0, 0.2) 0px -3px 0px inset;
}

/* CTA Button Area */
.navbar-cta {
    width: 46%;
    display: flex;
    justify-content: flex-end;
}

.navbar-cta a {
    display: flex;
    width: 50%;
    border-radius: 30px;
    background-image: url(../assets/1edcb80b31a81a2fb22b5da28a09f3a0.gif);
}

.navbar-cta a:hover .image img {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.navbar-cta a .image {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.navbar-cta a .image img {
    width: 100%;
    border-radius: 15px;
    border: 1px solid white;
    transition-duration: 300ms;
}

.navbar-cta a .text {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-cta a .text h3 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: "Black Ops One", system-ui;
}


/* Mobile Menu Icon */
.navbar-toggle {
    display: none;
}

/* Responsive Design */
@media screen and (max-width: 425px) {
    .navbar-logo {
        width: 20%;
    }

    .navbar-menu {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }
}